
<div align="center">
    <h4>{{name | lowercase}}</h4>
    <h4>{{name | uppercase}}</h4>
    <h4>{{name | titlecase}}</h4>
    <h4>{{name | slice:2}}</h4>
    <h4>{{name | slice:2:8}}</h4>
    <h4>{{person | json}}</h4>
    <hr>
    <h3>{{5.678 | number:'1.2-3'}}</h3>
    <h3>{{5.678 | number:'3.4-5'}}</h3>
    <h3>{{5.678 | number:'3.1-2'}}</h3>
    <h3>{{0.25 | percent}}</h3>
    <h3>{{0.25 | currency}}</h3>
    <h3>{{0.25 | currency: 'BRL'}}</h3>
    <h3>{{0.25 | currency: 'BRL': 'code'}}</h3>
    <h5>{{data}}</h5>
    <h5>{{data | date:'dd/MM/yyyy'}}</h5>

</div>



