
<div>
 <!-- <h1>Class Binding</h1>  
  <h2>Welcome {{_name}}</h2>
  <h2 class="text-success">Sucesso</h2>
  <h2 [class]="_classSuccess">Sucesso</h2>
  <h2 [class]="_classSuccess" class="text-special">Sucesso</h2>
  <h2 class="text-special">Sucesso</h2>
  <h2 [class.text-danger]="_hasError" class="text-special">Erro</h2>
  <h2 [ngClass]="messageClasses">Classes</h2> -->
  <hr>
  <h1>Style Binding</h1> 
  <h3 [style.color]="_hasError ? 'red' : 'gray'">Binding properties</h3>
  <h3 [style.color]="_highlightColor">Binding properties</h3>
  <h3 [ngStyle]="titleStyles">NgStyle</h3>


</div>